html, body {
    height: 100%;
    margin: 0px;
    font-family: 'Lato';
}
.container {
    height: calc(100% - 3em);
}

.option {
    height: 100%;
    width: 50%;
    border-radius: 31px;
}

.text {
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    display: block;
    margin:40% auto;
    padding:10px;
    border-radius: 31px;
    max-width: 300px;
}

.title {
	text-align: center;
}

.left-panel {
	float: left; 
	background-image: linear-gradient(to bottom right, rgba(255,255,0,0.3), rgba(255,255,0,1));
}

.right-panel {
	float: right; 
	background-image: linear-gradient(to bottom left, rgba(0,0,255,0.3), rgba(0,0,255,1));
}

.lang-option {
    text-align: center;
    border: 3px solid black;
    display: inline-block;
    width: 100%;
    margin-top:5px;
    position: relative;
    padding: 10px 0px;
}

.column {
    width: 35%;
    position: relative;
    display: inline-block;
}

.content {
    top:10%;
    width: 30%;
    position: relative;
    display: inline-block;
}